{% extends 'main/base.html' %}


{% block title %}
Login 
{% endblock %}


{% block content %}
<br>
<br>
<br><br>
<br>
<body class="text-center">
<div class="container">
<main class="form-signin">
  <form method="post">
    {% csrf_token %}
    <!-- <img class="mb-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANkAAADpCAMAAACeGmLpAAAAwFBMVEVkLI/////+/v7t7e3s7Ozr6+v19fXy8vL6+vrx8fH7+/tkLI5iKI7
    x8vBhJo1fIoxcGopbFopaE4lsN5RzQpnZ099vPZbz9fL59/p5Sp2ki7nq5O/v6/JgII3j4OaScq2afbPMvtnUy9ytl7+PbK3Ets/m4Oyokbzd0+Weg7Xu6fK2oMjLwNXAsMyHYqaObqqEXaR8Up67qMrQ
    xtjHt9V0Rpi9qc2wnMCJZqefh7XSw93Xz9ve2+OYfa/YzuLNxNVOLmVeAAAcv0lEQVR4nO1dZ3viOrC2LAO2sVwgYJJgIAUCqZC+CSfn//+ra1nFTXIlyZ57rz7p2WwmGksz82o0RVHx0CCEBggnJp/p4U
    zrhjPQTc/08IfACP+bZvIZpgHwr8I8EdiTEekJiEBGJLOmnmBNMRFdQEThnAkW9ZdzFs3knNWiIuAMlnGm1eJMy3OmN9wzCWfgmzkD9TjTRGvSBWsSncbsnuGfdvEPu+kZpwL5oqCUs0IiPQERwWnUZWuKi
    egCIoqGBwiH2gknBp6Z4azTwzMdz7p41sUzHc96eGbimRH+QkfFM0yjw4lATsQQEOlyIhE5o8OIQEYEcCJqmkgvTaSbJmKmiSjFH6nGwdYOIrGcSGuJ/T/FGaggsgJdnedM0xAjAsnxiWQiPGSUM/xTQ0ty1
    gE5idUyaxLqIsGaFAMP1TRVk890GE66eNYNZzCe6XjWM9gM//9QA9AZ/lUzSST8jV74F4Dq93xoTMIxnXY6nR6WBx0hwwg/d0gOJolATERNr6lXf02YiJIWWZOrEaHca1xktRK5D7cLE5ntP5ePN5t/3ncvR
    +E4DsduO19cvZ6tTicQIgRjIlwXCRSaJldoWl6hYXLad1hqFRrI6Fx/3Czuh5bnuYHj2BYftu04gesNguF2frUcTaJFldmzA1rqxpzhMTu/mB8HnhsypMiHZYccBkcPN19TvHnfw1mHCaopUx4JzvJyHykPE
    BKBCEzWNw/DgesU8ZTiz3EHyv3J7Qwf3wxnJWvSBWtKcGYyue/hiZ6edfGsm57peNbjs0jaCRHfn91udq7rVGSKjr6i2IE7XpxNQ9YS5EpXUrwmGQapJ7Kh6oBosj45cgPxXoWrJz+QbqXleMP57Uygi6pgE
    O3bMAiCnye7gYCtUJgc18VKROkPh8O+goULKxWBCIbMjTdfoUr5azBIqDLu7p0sWyFPrmeNt/OTt7vlv6vT0+vr2X6/H63WT2d3J4vtiyJQMVbg7l6n6KCcgVhkq2CQWGQBmN68ZGTLsl2vv1u8PZ1Ow/+JQs
    0XHR+dYhBsqbXZ/utu8z72ssrGdsebUfgbXHlUxiBsTR3CWQ8PHY/0rIsnXdmM/zdfXZ0MXRsLUsyVO364OZ+FGsVXTTkRPxQMfTp6XBwHIYFYIMONU+ZPXTW1kjprIrNCDKIRQdXYLINBsMiebhQ38c37tmvf
    Y66Qz4lwuY/JcSIQY5DJ6vG97zlW/HUUx54/GVCk0LJExAqtJQZRwfSkHyS3yw0uX69NgOpJBwA+nC3nlmcrSd4eRj76HQyCJjdDN7kWd/c2ij5yE7lHcPr87iX233KUTWgEWnEGEhikkxLZIgyClsfJdXjK4q
    mDRESkcm/gi04k9xDPQi5WF0eDhC4Khq8mKMcgGlceWniOKDmo6HUFlcz0/WVgc5m3B8ePU93v1iTCpZ3NTHV6dp/gzXK3a1CfXPRP5RgkL7JQQ/pNP/779mC31FAMGuS6qNJ9aDX3ErSdP9O8LurkddFhMIh/v
    o0Poj3YfoRScjBvQbio84cEb8HRR/jFvhuDAELlwuZazBrswj8s9hY09YMAhM4vB+xPhIZkMymQWClnGkefGj+NGj+NWvI0agQ+jLaxRnSHZ+wMaJwI5EQMAZEKt/NQPaGn3YAauL4SHK8BX1NXsKb4NMbklG6d
    EWoO9U7hG+YEN4ZZi0CNP6XfxTbFDm70ugRqYhAEN57FD+LlNWAKG0jvHsVfWuNyr6lpIhrqbPiRtNzLifgI9TgRgxNpgEHQLD6JjoIl+1tfLPzzYy9WJKc5e3Y4DKJ/DrnOGswjgPC9bzE+uBiwI2IHX/iP1eC
    MnYHYlElP463LUKtj3SEYH6TDnUYtS2Q9Dvjpf/NhwpQVn0ZYQ4OYNwOuErfX36U5skPvLfiJHGxq6BElrbDlWh8aJwMKpqzgSuS6PKDWj4mECsp/5ubTu1Sra/2qlho+sE/nDG9RJb/+wV4sVkfsruRuJ1I10h
    SDvLuEeD/Y7VG1F4uDcQYml0wlB7upTI2IMEj5aVTfGWn3oQOFjvTOt5xGRuSE/X3neIZEt/M8IsYySeRSZxPBjDMW/En8NPmriZmMSMksTSSzJvOV+Mb6IWtTswoRBYNrVaT16ffFIgYZY1bwhkQKW6r1+e43
    1vrRmrBR/LCoZXN2E3wQC7R+xbcYVYcPjDFsxX4ragJ89amKDLbRC3x7DGJuPMbY0v/FeBCwHlLW3MtKnKUOkgiDXFADbSlnfpHIFmOQ8pswR8TSK/7qyKbKf45gqVdO4D9NOR78Z8JY37JuVbH3IuuEreqOlT
    pBZUT0Fds17wKUelLxFhZ4v9EtV7dLJPQ0U2dRZIpA5tWrmhcMdpgDK36B18Te7/WQqhHvDKS9YLk1FVpqoMM9JWUFj/5vR01gNbK22HrW7TBIZ0evLe6bXyKyP8KZCj4o9LePppUxiEBk1QWl456gMke6IDqpm
    VdOrtCiNT3SS70TKshCDGJiaSMvp2zWDWfRG6p/R4UseNDxv9GX03BGXk51NsO/aqaJZMh1ZbOYiM6IGIVEzAtqhFysRYREolnRC7zxSR9f7V1H9NptAjX7Al/r1Sst91l7Jo8KmLPv/ZWPBqpoqXc2NWR7+Dd
    Fbk6O8XtdX7HHE9AIg6ATKmTeLfqbYlJVcEoVZLAo5EwmsujWYVYR5aMSi+S+YURAEQbJhFueUVjkPkvDLTVFGoCB95zoIJAKu8gEYPBfTUSUtY4sKSPiL1zitxjOpETS9iwh9/6VS4Vsmpb77Au82J5l1Ah7
    gUf4BV6gixiRilGAsMs++1yN11TNUhvnFMYMltFvNI7cDM8V8o3Z9HS0Xn89PX3upziGrAslEltkqRMSq6+o6g8+QF0MsiXxAsEcdZtz1sXP62dX77vxuG8HgeM41nD8sl3c3I6gn3ATNYhJvSGs2ccTUAOD
    aBp6JHrR6s9gpeikJBGqi6CB9s8PY9sNHMtKvPviEBhXeVksJ610ETVJob2WYBDMn4q/kYEnJp71VDAdk6UMws0WBKSrPCBd5bHkWSJA/bhU5DFzluOO/3wiVEgkmulkTWxGV4I+mZdwRO75qpFek8CeYX
    h241IBBUB898ifobTcI/9sF5QEzVmBc/8kexzIrSl7H0JXbI2ohqWe0ruLewqa5Vj4n1vXLuKKjug9s2H2SOeI2ut/UXXOqHfPvap498hwBo0Lsl99OU9sBMOPhtG26InYa3srTBsSYZDuaag5wlVZw2nm7lEtM
    wLM3t0SfpJn0rshGoAT4bqoU5Ty0dHMOTnu7hKk10QwSMhn9p0a/EMU4+BZFXgJpQ4+RgTOdkERK7kxWIAUEZGPWORo7o5cuml4t7JrEmUinJI/aO+isL2qyUPcFPF7eHXWNvz1tLI9wzO0CeimoUqWmklZ
    qPGbZI8Y23o7Fv2pm0acwb2T2LRSzphitLegVsIXXRQ68QqZkLCWCyqpxBm7aLn/IgFnWlbObviWVX7Mj+UM3Q6KOJANrKzqy5kG9+w+YuTlLKsb4eyFbNlOgwVZYzJMpB5XDdRPD3eDOFN10uGo5Nir8uwRRL06
    3h1qkGPhvw4q2DAha59pIFMtDAxc0+N4AsosNYT3kVRaRx3YgLPOsNmWhQfqvQlnKliQ5Y6nZZyhT2r93pCMswLciN5qmOjU6CuDFaiFG+lKPukRexZnsOIZQdg+1Tb9a/wfZcmnUqyPoVzD4xicAEokIle
    G9SHLYN1GSsR+j7NqCZHs/WxCNICz6EpEtjCD9WvQlC+sHvEDeFqhVchgBc/EyjijjELL2LPuF1Ha7lNXdrALLDU4qW+k4zG4RU3yPCfkKhmh9wJL3d0Qgdx1GnAG1Mb6A49g04gzwJYcKwARZzP6AS5Q5e
    yRBGerRlaaDeuoWQbrmhxHd5XhLOUq9Jce8euM5A5Cgb+RppyCx6aakYzBLOu+rOK0VCc7uhuArYT4G9MiS3bWvlebvA2hRV2Qnx7eR6MMVnQVSbe9xRpIErkJqGZ0X3NguIqlNo7aiBlxQ9W21D1onBO9Z
    Y/klhqsqdNkBRpksMJOu8OI/ewNOAtvunQ/HlGeM/pWRWG+vTWL9owrj8z7GTxvpUCwCgGV3s+yCo1eQJ25kc5gjd8XTfPBifTHFSh4rhS9L0Zvnt3bJjez5HDNCm+e+ZlP4h9C7NhLPJwmMQicDckfuEW1
    M1ixGrlreRoVdwbzGKQgZoataUrWHSJPCQYxnqIriDWcFYuszFK/uo2hFRmD81jEarwxAnAZYUes+MSWGl2Q8/qAmnHWClsRzlATzlRAF77IcsZjeB4iexQCkBKRlcTwhOaszab1+94SMQwiieERYZBwdh5
    JuPUyiTijMTxxoFJ3SuyR99StlzVGo53AvJ2hVvrund8oeMuc9aOVB6dmvKYkBjklKmY44yIriJEVBl1GRFBbzhTvrhyDiB1O90TQllCMQT6iPbW30kpexZa6PWfuXcNaE1TEgyskxiCRne47C/+/xxnB4s
    4cpjjjO09W5r6RVGiBg++HTmM+jrggHS5ak0pgob2LUTrOYOUB1JFHoe896dnQ7nScdfafWcS1/k9rzpamkHzpSvQZTcKbJmK/429OEIhlnUbeYsFHKnunPmnN2S3BIDIfsSCKnPlmyB3NWyEBBgGjSAqto
    0mzsoIYg7TkrLGl7sH3SDkOvpAAgwAC1e1tw4KJWtsrdfjJPxuhq3Al9NLrvvoxZ9yAcP1SksEqLcMEzlpj/U7xi4X0NBoUGLoXPl9TnH9mkstZsGmaWaavm/r0yegrTsO/HP7tZ7It/8SLV7iGpd5h9w0V
    VtGQa324d1vhRsXaCS8wFbS+CZ6I2n/ge57AID7x7rh3qCEG0YyWWN95aOQHiWDxirimdhOg5jBIjwrhEjWt5IV2Vqs9c29acBbpxlCxJzjDI9xvqBHXv/OJULPT2EHtTHUfZxc0PY3XQ8YZyGWw9kiIVjC
    qnW3OhtnWk7pvrEG6U+K/sjuxBuHv1BNyO7NXjbU+WLdzXvU7UJozWJLJxt6ggxnMZbAyzvok1byJpQZmq9OIvRSNa27OCLwazPIY5ACcqeC+ShSZbOBn1sacdYgsJTnjGIRxdi09jeXZIzdtBM07h/IM1h
    IMkuAszmCl7oYuJDI4nHUbldDBRLrrFvjKGnf1JhWByIxcwZTBlP1bl9dOgh3K2T5RBjZvzzRZ2SM1VNiwM27+ZhGcRPUbNeZKq+79xmvSGWfclRZbaspZf9+i5iZq4XIcfAG1cc1NMNklOUtjEMKZ1R+14
    Mw495qiEGtstuPMynHGMAjdM3sEq2aN5TNYeZJQ/YEPIyjJYC14ZqAvf4NpjIi517JLFuWsTN3o9QwinrIZl/F4FhFRG8OQwWlM2OBaif/VkjUhikGcGV9TbM+oN9JZVSm5mvV+E3sWzmbyeqGFI7zwVslg
    lXi/QwxyRDU75PUbY28Bxfq3zS11ONBJs03z1u3qfo+iL2odd0R+EILU3bNWnMF9sy27bBK5mVBoIxbHIvKD0Dv1a9NSkETujUab5q7bZdPDf0l8wUMcRR7XI/ZfqR/Eb5U1pk4bBPI4Dz2UST2rV48YnFE
    /CIjrEUfbj+09Iq4nZ44qZq6LakiHZwg81w8rs0bC6tg1akjTbYni7bKWGq2ov1FrV9EcqJd1gYj7ZkARZzUs9Ya6p4ScXRNXwsusZa12cFpT8zv3nRyRepyZgDzXerdJzpjIGhMiIP2RyN7XyWAFd7Ugvz
    U87XFy1TJYc+GWJoEZ7ie/BWmJngiQwGV3reJeAz1p/wGY7z8QzaKwNNy6oAdqxey7Sz/TEwHGa2Ir0dMryaypywpHTEmLhUwGK6TvZ9HzXCUMIrBn5AxN7quLmneFCjPZqmCQLgm9snYTYdQE9Y2H+qWFp
    SacgelxNZdIX3EXOS1b31L79E1iIY4HMZbkx+9RhHG7rirg+rg0AS36mTfvHIKzP0Q13oiriUL2gDaF5SIrxSCM3PSlAhaxBnjH2mfTI4LmvQ9xBivz8Xij6CPhf6vTl4kSUWlAuj+5LPU+Wu6FIe3LxMnp
    8RESrCSKr6e4J9hDvvup2AJqFNzHYgxSZs94Nbgbr9iuOcMlgpkMJIk9K1ZoaE1jeDrp2IKYMxY20c5Sc87A17johu2+7/O5VY0sNbqIyhiEwFDGGQnWt6K08vac4Y+8k++as9E5kZacGe/0sCFRBmsnFNk
    pTeNdlWOQogzWODNiVXAc7W18H4Kd+hmssUKDs1DMQk07+ITJCOmUWsMqpo/d0NV0YyoZVlAciCpjyQjWNb5RoW78iqQIh8rJskdCW42NjPNgQCHgr1uRYV94VXPmIH+um9gzemfG+kGWY2E8Ebw33B+k/5
    m/KcZYUYWg9pxRX2Pfe5ZzxjxA3hLVb1mY48x4KkFYuAJGe85CaSbRi/apjDOsPon/ylmgBi0L0/bVNGZHZV5Vd56z+RkiaXMdZSFx4EAbxanggqFCkAQOmewREuJoDSdt7mdqB2uPybYcFLsL8qul/c8KF
    BqkMVdY78kzWFl8uHfW0p4h9FQJ7bvbVfShWtgzVijEGaWEI5PnCWiMo/PQgrMQoHbu7kuQFRuOu1irALXhjOgp+70wgxWAJfkA1rUp5SzS1VpO7nlnt8n6z9ir/nDheLvXPS6qJOOs2HfVpSlz3qOf4Qx3
    MYwu5eR6zlLrbtTC63mi7yGM7/io50/WV8eepFWYbNhucP82gvh5MeMo4A0d5S4DVtWvP033Ysz3PyNWz3qBFTBIUu7xdk2+ro5ErcKqMOdtrz47JMimzv1M0++jLAHnAWYrDMHM9q+JdQ11iGD7pZbaQJ3
    982LYjC3KXDB42dyS96/q9gzSxDI3V4s8x5lJg5TmVTnDS5mdX20dz7HaxcopVuAN56+rCUKVOTOo/jieZW96ueprLD/ZHeWvMoL3s/AmvrpbjL2gTSRIkjnH9Xab270WBaCX+672rOoVyvU/y1anU2mpq2
    ChlrQsVH0f7pdRy8R2WZB57rz+/dV6qoLSZ4suS9nf97JV/PIVhhC5elj2CBa8U+Na3OcX91Gprpa5WcKBu0U+0NZcokcvqtCoXzt65C7vfzYiK8WJ2wWWGs3mXqpX3eEGpRkeTOtGBUUth3jFsRXIAnRRv
    SuWPBxumpwzdH7cNtusyvDmUyAPRQdTmsMU3/SynKXiZRAtcBhumhSD+LfDA6mMkuFup6oEg4SnkRVgW3NcxAMCaP8zHH5AwxTCaTcCj30l+NQlARPg1jqs0pCPYDv1ZaEbtKCLMyehG3E4Bw67EFU5VM+t
    SC04lzhCTRBaYpz/0I4R1iZA8k79QMVm7QsCb0SVKU1jERCn+xkSWur9y88xhi9xkv5n5/T6Mq9ec5Opxyi8QpBOv/gJ5ZFg7VnEGTBZJNRKUnMT8gxWjasRXiHrCuUxCFq2zS6uOXD5oBxngNUTda/CC6H
    GStknqtALQyW7FIhYwb6bC5WcNo4aazrcEzUXqmmuAsa2OJBUVmmZRoY522T71Cg2vn1iT4Mx4mWBWOANrV4Vubzr9D8DKvbPYI/ya8aewcn2p7cMn7hs7il6i75v39lKnITSut/snma5p3qKMzRqm2XWYN
    g7mOZMx6+YUSmCc0PKWc4DRstT/nHpR4nLU+LTiC5+gTPFO49OI1+Jzmr2XkX/JijgJ+9/phtRrXel716pyX/v/cJhxJnSqUXQQnl9+7gnzScp6H/2Ra3W4Ask4tJWv6A/sAbEgfgsXh8tyUOx5TwZTXqws
    gqCVjAB3FK3LyjRbHhLI7ZneyoQ7kmyH0r13iNAPSbI2DnmnIFJ/6egcGr0ccFQqhahQR8MQr0CCzjTpKcR0ES8UNQW/DQ+/sphVHA9OAOvKeTMp7F44a3fyIWiV+zByiO5B69UgNsWfmo+wosHXRTvPbIs
    zLWVav3I3psLxtpHpPXRr21ZuIR1pPX9R9bpgVQxbtqDVd3hakr9KDY7PAht8l7aDnuLYTFiBZqcLWStl+thEGbvqachelEErAPE74zBmaqhc+oBtIYz4sto3v9szfogDU9pAuxvjRDVoxENd7Wcc9TRi04
    jxSAFZStMFmBqj09/+MaZHe5J3P/sQ00k2gqKeuDsEf7ukdf6WGShf8VY+0Hnh2Tw7mePkf7H65Ro/SqdSqG6+E3pEg3vRBW8ojTpwTr/PV0vGu4cid6HavdgxR6whx/2fBQO98GAlXqwplwg4rzRbq9Ok4
    NvHu68Qi4t9qRGbqvY+81nGU/z5d/CmvuggtxzXqL/WeT91ipYavZoOvlLZM19qBgGVokz8ruLv4E1d1E1wK0Yg6Sik9SrliVbDjC8K1i5mZJSVL5TTxbtRP6b+3t4GA/LeQQmXZOeKm4qKHOq517gU6/da
    WFDZ9ZvohBbOQMg+wIvzqqtbKmZGlHXR7+HHJ2Xcz8fW9ASg8Tf5/qduGZ/XuBwDHytXozFPVjz0UmTq18RNss96cDK/aAJBqnWsjCeoWelXTnUJsPpL4FqqoXhKdkC6+L+Z/nApPjFQl1tf9iyWe79yBcF
    S4kwSC1LnY0t0G8OFYtUaTj2RUdYg6s9BsnGgwCw3v0cjBxsP1GDIHsRBumIMQhIRkjDC+dn9L9jPZrN0uEUHgZesY0JbagCVpeD71eSlnc5QqKVVGjyIrNnpRmsAJyNaZzrtzHmHS2hAQujAJNramOpkwc
    7PMNX33okXedmgvJf+3swSEZk0WxT1tmy8QiCkyngWLYJZ1o+GrlK0jkRWYj2C+879i1wN1NQPYNViEFokIvGglwiYBUd7MhHrKqsKBibUavIPLNov/EOB7gimbVc72oaqu6yNVERS62Jeguwj7iBPWObTj
    MR/NmFMjic6bY95XUCQC2FdihLneEsvLiBj22bgPZ4WM5guyQ5CXmxr9XQ8TCc4bvC6YnltdUmzkD5M/KRTKGJ96wQg2ScqAUtC7Wiiua3C8tLhIFXs3O0YDeOGlY2XwDlG6eWF8oUxINk+59VTIYVZrBiI
    urXYhiwVsA1OHNcd7i5hb7RLIOVrKR61ERNCIoTmsKNg5+P94rr2lWlzrKDQHm/WwGSqsVXUrPe1YEtdZYzEBFBvrp+vBxbQeAU8hf1FrfG729PNHHwZzgrw43iPePZ9OGRHt2+zXdjfNACx7Ftiw/bcYLw
    35TxdvH6dWr4yIDCTDY1lU3fDDdWak+ewtU6x9Vxy0KVzQg5A/m+b07Xt3dX/8zvdy/j8fgoHC8v9/PFxd3yfE/0ToW+64KVVMH6+fuZxEcMSvuf5XGaHh3O6Kchm370C2Y4QSol10nIfVEGa/1mSmVRExX
    tmSo+Q0IixdLBibQV+wNZ6kLOasn9t3JW7Lsqrb5WveJRTETCWY3qa2red1XX35ipmJdoWcgqZ1Updicru6cWEqlALuFvlIhsfZdKhxOpoouqZtO3uJ8d0lIfQGL/UgzyF3NW/H4mf6tKLSoh95UrQQJKJN
    2DtXIFWOH7Wf7N0yxtWYhFNtVG8SBE4l6M6dfXYnK6gFxEpDRWrlal5ZrVTdNEqmEQLUPkNzHI32Op/xdxlq34Xk/utQQGoZWf04FAJRgkhg9ATZSPrlGFXhLDk67bXatev+BXM0QqkDsckWzc1cGuDYUYp
    EQXyTCI2UwX/T8G+a9ypmkNHHySTjiUiKhtSGEfpOxBkhGRd8LJrUkFShwszWfdOrO4A6Oeir3+eSLdNJEqGETypXMdpwoxiORLJ4ioEiJVerBycv+PQf7bnOV3vqLcf8tp1PJEKvU/y51GeQbrf35Qewb4
    IyMADKgBwIAaYNmQ5CNBSD9StP3RN49MUfS5qhGJZzIimTVliBSvKSLyPwlpRiOL50bfAAAAAElFTkSuQmCC" alt="" width="100" height="100"> -->
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating col-3 mx-auto">
      <input type="text" class="form-control " name="username" placeholder="UserName">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating col-3 mx-auto">
      <input type="password" class="form-control " name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary col-3" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">2023</p>
  </form>
</main>
</div>
</body>
{% endblock %}