{% extends 'main/base.html' %}

{% block title %}
Create your Product
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <h1>Create Product</h1><br>
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.name }}<br>
                {{ form.description }}<br>
                {{ form.price }}<br>
                <p>Availability {{ form.isAvailable }}<br> </p> 
                <p>Chose category</p>
                {{ form.category }}<br>
                <div class="row gx-0">
                    <div class="col-sm-2 col-md-2 ">
                        <p>Edd Product image</p>
                    </div>
                    <div class="col-sm-2 col-md-2 ">
                        <div class="text-secondary" >Must be 4/3 </div>
                    </div>
                </div>

                {{ form.img }}<br>
                
                
                <button type="submit" class="btn btn-success">Save</button>
                <span>{{ error }}</span>
            </form>
        </div>
    {% else %}
        <h1>You need to be logged in to add Products</h1>
        <a href="{% url 'LogIn' %}">
            Login Here
        </a>
    {% endif %}
</div>
{% endblock %}
