{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery  -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script> -->

    <!--cropper-->
    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" type="application/javascript">
    <script type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"></script> 
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link  href="https://cdn.rawgit.com/fengyuanchen/cropper/v2.0.1/dist/cropper.min.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/fengyuanchen/cropper/v2.0.1/dist/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link  href="{% static 'FunnyBusiness/admin/css/style.css' %}" rel="stylesheet">
    
    <!--JS-->
    
    <script type="application/javascript" src="{% static 'FunnyBusiness/admin/js/addProduct.js' %}" defer></script> 
    <script type="application/javascript" src="{% static 'FunnyBusiness/admin/js/registration_successful.js' %}" defer></script> 
    




</head>
<body>
  <div class="d-inline-flex pb-3"></div>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" style="background-color: #221f1f;" >
    <a href="/" class="d-flex align-items-center text-light text-decoration-none">
      <div class="d-none d-lg-block  container mt-2">
        <span class="fs-3 ">FunnyBusiness</span>
      </div>
    </a>
  
    <nav class="d-inline-flex mt-3 e-5 ms-md-auto ">
          
      <a class="me-4 py-1 fs-5 text-light text-decoration-none" href="{% url 'Hub' %}">Hub</a>
      <a class="me-4 py-1 fs-5 text-light text-decoration-none" href="{% url 'AddProduct' %}">Add Product</a>
      <a class="me-4 py-1 fs-5 text-light text-decoration-none" href="{% url 'About' %}">About Us</a>
      {% if user.is_authenticated %}
      <a class="me-4 py-1 fs-5 text-light text-decoration-none" href="{% url 'ProfilePage' %}">Profile Page</a>
      <a class="me-4 py-1 fs-5 text-light text-decoration-none" href="{% url 'LogOut' %}">Logout</a>
      <div class="nav mt-lg-1 flex-nowrap  px-0 me-3 " >
        <div class="nav-item ">
          <form class="row rounded position-relative" method="POST" action="{% url 'SearchProduct' %}">
            {% csrf_token %}
            <input class="col-sm-1 form-control ps-3 me-1  bg-light" style=" height: 32px; width: 140px;" name="searched" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn visually-hidden rounded bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y"  type="submit"><i class="bi bi-search fs-5"> </i></button>
            <button class="col-sm-3 btn btn-secondary rounded mx-1 pt-1 d-none d-md-block" style=" height: 32px; width: 80px;"type="submit">Search</button>
          </form>
        </div>
        
      </div>
      {% else %}
      <a class="me-4 fs-5 py-1 text-light text-decoration-none" href="{% url 'RegisterUser' %}">Register</a>
      <a class="me-4 fs-5 py-1 text-light text-decoration-none" href="{% url 'LogIn' %}">Login</a>
      {% endif %}
    </nav>
  </div> 
    <div class=" ">
        <!-- {% if messages  %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %} -->

        {% block content %}
        
        {% endblock %}
    </div>


</body>
</html>