{% extends 'main/base.html' %}

{% block title %}
Create your Product
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        {% if searched %}
        <br>
        <h1>Results</h1>
            {% for prod in products %}
                <div class="col-6">
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            {% if prod.img  %}
                            <img src="{{ prod.img.url }}" class="card-img-top" alt="..." width="300" height="400">      
                            {% else  %}
                            <img src="..." class="figure-img img-fluid rounded" alt="...">
                            {% endif%}                              
                            <div class="card-body">
                            <h5 class="card-title">{{ prod.name }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ prod.description }}</li>
                                <li class="list-group-item">{{ prod.price}} $</li>
                            </ul>
                            <div class="card-body">
                                <div class="d-grid gap-3 d-md-block ">
                                    <a href="{% url 'ViewProduct' prod.id %}" class="btn btn-info">More About</button>
                                    <a href="{% url 'BuyProduct' prod.id %}" class="btn btn-success rounded float-end"> Buy </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>

            {% endfor %}
        {% else %}
        <h3>OOOoops. Looks like you forgot to type what you are looking for.)</h3>
        {% endif %}
    {% else %}
        <h1>You need to be logged in to add Products</h1>
        <a href="{% url 'LogIn' %}">
            Login Here
        </a>
    {% endif %}
</div>
{% endblock %}
