{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="shadow-sm p-3 mb-5 rounded bg-dark" style="width: 100%; ">
        <div class="container ">
            <div class="text-light  "  >
                <h1>{{product}} </h1> 
            </div>
        </div>    
    </div>
    <br>
        <div class="container text-light  px-3 bg-dark">
            <div class="row gx-2">


                <div class="col-sm-6 col-md-6 text-center">
                    <br>
                    <div class="container p-3">
                        <figure class="figure p-2 ">
                            {% if product.img  %}
                                <img src="{{product.img.url}}" class="figure-img img-fluid rounded" alt="..." width="100%">
                            {% else  %}
                                <img src=" " class="figure-img img-fluid rounded" alt="...">
                            {% endif%}
                            
                        </figure>
                    </div>
                </div>


                <div class="col-sm-6 col-md-6 ">
                    <div class="p-2  ">
                        <div class="container  px-0" >
                            <div class="row gx-2">
                                <div class="col-sm-6  col-md-7" style="height: 100px;">
                                    <div class="p-3   h-75 " style="background-color:rgba(44, 64, 95, 0.096);"><h3>{{product}}</h3></div>
                                </div>
                                <div class="col-sm-6 col-md-5" style="height: 100px;">
                                    <div class="p-3   h-75 text " style="background-color:rgba(44, 64, 95, 0.096);" >
                                                <h5> Owner: {{product_owner}} </h5> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container  px-2">
                            <h5>  Description: </h5> 
                             </div>
                            <div class="container  px-3" style="height: 400px; background-color:rgba(44, 64, 95, 0.096);">
                                <p>{{product.description}}<p>
                            </div>
                            <br>
                            <div class="row gx-5 p-3 "  >
                                <div class="col-sm-3 d-grid gap-3  d-md-block  " style="height: 70px; background-color:rgba(6, 18, 6, 0.205);">
                                    <div class="p-3  ">{{product.price}}$</div>
                                </div>
                                <div class="col-sm-8   " style="height: 100px;" >
                                    <div class="row gx-5 p-3 " >
                                        <div class="col-sm ">
                                            <a href="{% url 'BuyProduct' product.id %}" class="btn btn-success rounded float-end">Buy</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="{% url 'RateProduct' product.id %}" class="btn float-start" style="background-color:rgba(211, 197, 0, 0.603);">Add a Review</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>


            </div>
        </form>
        <br>
        <div class="container text-center px-3 bg-dark text-light" style="height: 100%; width: 800px; background-color:rgba(118, 203, 243, 0.096);">
            <br>
            <h5> Comments section </h5> 
                {% for rev in review %}
                    {% if rev.target == product.id %}
                    <div class="container  px-3" style="height: 100%; background-color:rgba(0, 0, 0, 0.638);">
                        <br> 
                        <div class="container text-start px-3">
                            <h5>{{rev.comments}}</h5>
                        </div>
                        <br> 
                        <div class="row justify-content-md-center">

                            <div class="col col-lg-4">
                                <h5>Autor raiting:{{rev.autor_raiting}}</h5>
                            </div>

                            <div class="col-md-auto"style= "width: 100px;">
                                
                            </div>

                            <div class="col col-lg-4" >
                                <h5>Product raiting:{{rev.product_raiting}}</h5>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% else  %}
                        <h5>  </h5> 
                    {% endif%}
                    <br>
                {% endfor %}
            
        </div>
    {% else %}
        <h1>Access denied</h1>
        <a href="{% url 'LogIn' %}">
            Login Here
        </a>
    {% endif %}
    
    
     
{% endblock %}